body{
    color: black;
    background-color:rgb(7, 15, 43);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    overflow: hidden;
}


.header{
    height: 100vh;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    flex-direction: column;
    line-height: 20px;
} 

.sign > span {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0%, 100% {
        color: rgba(0, 0, 0, 1);
        text-shadow: 0 0 5px rgba(51, 51, 245, 0.8);
    }
    50% {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 0 15px rgba(51, 51, 245, 0.8);
    }
}

.sign > span:nth-child(1) {
    animation-delay: 0.1s;
}
.sign > span:nth-child(2) {
    animation-delay: 0.2s;
}
.sign > span:nth-child(3) {
    animation-delay: 0.3s;
}
.sign > span:nth-child(4) {
    animation-delay: 0.4s;
}
.sign > span:nth-child(5) {
    animation-delay: 0.5s;
}
.sign > span:nth-child(6) {
    animation-delay: 0.6s;
}
.sign > span:nth-child(7) {
    animation-delay: 0.7s;
}

.navbar a {
    font-size: 70px; /* Sesuaikan ukuran font dengan kebutuhan Anda */
    color: aliceblue;
    text-decoration: none;
}

a :hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px rgb(78, 78, 78) solid;
    padding: 1rem;
    border-radius: 15px;
}
